input #video {
  border: none;
}
#video {
  color: white;
}

.hide {
  display: none;
}

.selectVideo {
  margin: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
