input #video {
  border: none;
}
#video {
  color: white;
}

.hide {
  display: none;
}

.selectVideo {
  margin: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

body {
  background: none;
}

a {
  font-family: 'Lato', sans-serif;
}
