h2,
li {
  font-family: 'Lato', sans-serif;
}

#weatherClick {
  cursor: pointer;
  border: 1px solid #333;
  padding: 8px;
  background: white;
  color: #333;
  font-weight: bold;
}

.formCity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
input {
  margin: 12px;
}

.formCity h1 {
  color: #333;
}

.formCity button {
  border: 2px solid #333;
  background: white;
  color: #333;
  padding: 5px 10px;
  font-weight: bold;
}

.formCity button:hover {
  background: #333;
  color: white;
  cursor: pointer;
}
